<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login_application">

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="Database"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".informatin">

        </activity>
        <activity android:name=".deposite" />
        <activity android:name=".registration" />
        <activity android:name=".start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>